*{
    margin: 0;
    padding: 0;
    
}
.containers{
    display:flex;
    height : 60px;
    width: 45%;
    border: .5px solid black;
}
.subcont{
    height: 50px;
    width: 75px;
    padding: 5px;
}
.white{
    background-color:white;
}
.black{
    background-color:black;
}
.main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
